${APP_NAME} (${VERSION}-1) unstable; urgency=medium

  * Package version ${VERSION}
  * Automated build from version ${VERSION}

 -- ${ORGANIZATION} <${MAINTAINER_EMAIL}>  Fri, 25 Jul 2025 12:00:00 +0000